{{#*inline "page"}}

<div class="container">
<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>File</th>
      <th>Mutation Score</th>
      <th></th>
      <th>Alive</th>
      <th>Killed</th>
      <th>Error</th>
      <th>Timeout</th>
    </tr>
  </thead>
  <tbody>
    {{#each source_files}}
    <tr>
    <td>
      {{#if this.link}}
      <a class="is-family-code" href="{{this.link}}">{{this.name}}</a>
      {{else}}
      {{this.name}}
      {{/if}}
    </td>
    <td>{{(float_format this.accumulated_outcomes.mutation_score)}}%</td>
    <td>
      <progress class="progress is-large {{(score_to_class this.accumulated_outcomes.mutation_score)}}" value="{{this.accumulated_outcomes.mutation_score}}"
        max="100">{{(float_format this.accumulated_outcomes.mutation_score)}}</progress>
    </td>
    <td>{{this.accumulated_outcomes.alive}}</td>
    <td>{{this.accumulated_outcomes.killed}}</td>
    <td>{{this.accumulated_outcomes.error}}</td>
    <td>{{this.accumulated_outcomes.timeout}}</td>
    </tr>
    {{/each}}


    <tr>
      <td>Total</td>
      <td>{{(float_format stats.mutation_score)}}%</td>
    <td>
      <progress class="progress is-large {{(score_to_class stats.mutation_score)}}" value="{{stats.mutation_score}}"
        max="100">{{(float_format stats.mutation_score)}}</progress>
    </td>
    <td>{{stats.alive}}</td>
    <td>{{stats.killed}}</td>
    <td>{{stats.error}}</td>
    <td>{{stats.timeout}}</td>
    </tr>
  </tbody>
</table>
</div>
{{/inline}}
{{> base}}